<!--
/* <style id='page-skin-1' type='text/css'><!--
/* Variable color */
:root,
:root .lgT:not(.drK),
:root .theme0:not(.drK) {
	/* Theme */
	--themeC: #e8131a;
	/* Body */
	--headC: #08102b;
	--bodyC: #08102b;
	--bodyCa: #989b9f;
	--bodyB: #fdfcff;
	/* Link */
	--linkC: #e8131a;
	--linkB: #e8131a;
	/* Wave */
	--waveB: #e8131a;
	/* Icon */
	--iconC: #08102b;
	--iconCa: #08102b;
	--iconCs: #767676;
	/* Header */
	--headerC: #343435;
	--headerT: 16px;
	--headerW: 400;
	/* write 400(normal) or 700(bold) */
	--headerB: #fbe4ec;
	--headerL: 1px;
	--headerI: #08102b;
	--headerH: 60px;
	--headerHi: -60px;
	--headerHm: 60px;
	--headerR: 30px;
	/* Notif */
	--notifH: 60px;
	--notifU: #e8f0fe;
	--notifC: #01579b;
	/* Content */
	--contentB: #fffdfc;
	--contentL: #e6e6e6;
	--contentW: 1280px;
	--sideW: 300px;
	--transB: rgba(0, 0, 0, .05);
	/* Page */
	--pageW: 780px;
	--pageW: 780px;
	--postT: 36px;
	--postF: 16px;
	--postTm: 28px;
	--postFm: 15px;
	/* Widget */
	--widgetT: 15px;
	--widgetTw: 400;
	/* write 400(normal) or 700(bold) */
	--widgetTa: 25px;
	--widgetTac: #989b9f;
	/* Nav */
	--navW: 230px;
	--navT: #08102b;
	--navI: #08102b;
	--navB: #fffdfc;
	--navL: 1px;
	/* Search */
	--srchI: #48525c;
	--srchB: #fffdfc;
	/* Mob Men */
	--mobT: #08102b;
	--mobHv: #f1f1f0;
	--mobB: #fffdfc;
	--mobL: 1px;
	--mobBr: 12px;
	/* Footer */
	--fotT: #08102b;
	--fotB: #fffdfc;
	--fotL: 1px;
	/* Font family */
	--fontH: Google Sans Text, Arial, Helvetica, sans-serif;
	--fontB: Google Sans Text, Arial, Helvetica, sans-serif;
	--fontBa: Google Sans Text, Arial, Helvetica, sans-serif;
	--fontC: Google Sans Mono, monospace;
	/* Trans */
	--trans-1: all .1s ease;
	--trans-2: all .2s ease;
	--trans-3: all .3s ease;
	--trans-4: all .4s ease;
	/* Synx */
	--synxBg: #f6f6f6;
	--synxC: #2f3337;
	--synxOrange: #b75501;
	--synxBlue: #015692;
	--synxGreen: #54790d;
	--synxRed: #f15a5a;
	--synxGray: #656e77;
	/* Border Radius */
	--buttonR: 50px;
	--greetR: 10px;
	--iconHr: 15px;
	--thumbEr: 5px;
	--srchMr: 20px;
	--srchDr: 20px;
	/* Dark */
	--darkT: #fffdfc;
	--darkTa: #989b9f;
	--darkU: #41B375;
	--darkW: #343435;
	--darkB: #1e1e1e;
	--darkBa: #2d2d30;
	--darkBs: #252526;
}
/* Dark Mode */
:root .drK {
	/* Theme */
	--themeC: #1e1e1e;
}
/* Theme 1 - Red */
:root .theme1:not(.drK) {
	/* Theme */
	--themeC: #D32F2F;
	/* Body */
	--bodyB: #FFFCFD;
	/* Link */
	--linkC: #F44336;
	--linkB: #F44336;
	/* Header */
	--headerB: #f0ced1;
	/* Notif */
	--notifU: #FFEBEE;
	--notifC: #B71C1C;
	/* Search */
	--srchB: #FFEBEE;
	/* MobMn */
	--mobB: #FFEBEE;
	/* Wave */
	--waveB: #FFEBEE;
}
/* Theme 2 - Green */
:root .theme2:not(.drK) {
	/* Theme */
	--themeC: #00796B;
	/* Body */
	--bodyB: #FCFFFC;
	/* Link */
	--linkC: #009688;
	--linkB: #009688;
	/* Header */
	--headerB: #E0F2F1;
	/* Notif */
	--notifU: #E0F2F1;
	--notifC: #00796B;
	/* Search */
	--srchB: #E0F2F1;
	/* MobMn */
	--mobB: #E0F2F1;
	/* Wave */
	--waveB: #E0F2F1;
}
/* Theme 3 - Blue */
:root .theme3:not(.drK) {
	/* Theme */
	--themeC: #1565C0;
	/* Body */
	--bodyB: #FBFEFF;
	/* Link */
	--linkC: #1976D2;
	--linkB: #1976D2;
	/* Header */
	--headerB: #E3F2FD;
	/* Notif */
	--notifU: #E3F2FD;
	--notifC: #1565C0;
	/* Search */
	--srchB: #E3F2FD;
	/* MobMn */
	--mobB: #E3F2FD;
	/* Wave */
	--waveB: #E3F2FD;
}
/* Theme 4 - Yellow */
:root .theme4:not(.drK) {
	/* Theme */
	--themeC: #FFC107;
	/* Body */
	--bodyB: #FFFEFA;
	/* Link */
	--linkC: #FF8F00;
	--linkB: #FF8F00;
	/* Header */
	--headerB: #FFF8E1;
	/* Notif */
	--notifU: #FFF8E1;
	--notifC: #FF8F00;
	/* Search */
	--srchB: #FFF8E1;
	/* MobMn */
	--mobB: #FFF8E1;
	/* Wave */
	--waveB: #FFF8E1;
}
/* Theme 5 - Pink */
:root .theme5:not(.drK) {
	/* Theme */
	--themeC: #C2185B;
	/* Body */
	--bodyB: #FFFCFD;
	/* Link */
	--linkC: #D81B60;
	--linkB: #D81B60;
	/* Header */
	--headerB: #FCE4EC;
	/* Notif */
	--notifU: #FCE4EC;
	--notifC: #C2185B;
	/* Search */
	--srchB: #FCE4EC;
	/* MobMn */
	--mobB: #FCE4EC;
	/* Wave */
	--waveB: #FCE4EC;
}
/* Theme 6 - Orange */
:root .theme6:not(.drK) {
	/* Theme */
	--themeC: #E64A19;
	/* Body */
	--bodyB: #FBFEFF;
	/* Link */
	--linkC: #F4511E;
	--linkB: #F4511E;
	/* Header */
	--headerB: #FBE9E7;
	/* Notif */
	--notifU: #FBE9E7;
	--notifC: #E64A19;
	/* Search */
	--srchB: #FBE9E7;
	/* MobMn */
	--mobB: #FBE9E7;
	/* Wave */
	--waveB: #FBE9E7;
}
/* Theme 7 - Blue Grey */
:root .theme7:not(.drK) {
	/* Theme */
	--themeC: #455A64;
	/* Body */
	--bodyB: #FBFEFF;
	/* Link */
	--linkC: #546E7A;
	--linkB: #546E7A;
	/* Header */
	--headerB: #ECEFF1;
	/* Notif */
	--notifU: #ECEFF1;
	--notifC: #455A64;
	/* Search */
	--srchB: #ECEFF1;
	/* MobMn */
	--mobB: #ECEFF1;
	/* Wave */
	--waveB: #ECEFF1;
}
/* Theme 8 - Brown */
:root .theme8:not(.drK) {
	/* Theme */
	--themeC: #5D4037;
	/* Body */
	--bodyB: #FBFEFF;
	/* Link */
	--linkC: #5D4037;
	--linkB: #5D4037;
	/* Header */
	--headerB: #EFEBE9;
	/* Notif */
	--notifU: #EFEBE9;
	--notifC: #5D4037;
	/* Search */
	--srchB: #EFEBE9;
	/* MobMn */
	--mobB: #EFEBE9;
	/* Wave */
	--waveB: #EFEBE9;
}
/* Theme 9 - Purple */
:root .theme9:not(.drK) {
	/* Theme */
	--themeC: #7B1FA2;
	/* Body */
	--bodyB: #FBFEFF;
	/* Link */
	--linkC: #8E24AA;
	--linkB: #8E24AA;
	/* Header */
	--headerB: #F3E5F5;
	/* Notif */
	--notifU: #F3E5F5;
	--notifC: #7B1FA2;
	/* Search */
	--srchB: #F3E5F5;
	/* MobMn */
	--mobB: #F3E5F5;
	/* Wave */
	--waveB: #F3E5F5;
}

.invisible-link {
	visibility: hidden;
	height: 0;
	width: 0;
}
/* Theme 10 - Indigo */
:root .theme10:not(.drK) {
	/* Theme */
	--themeC: #283593;
	/* Body */
	--bodyB: #FBFEFF;
	/* Link */
	--linkC: #3949AB;
	--linkB: #3949AB;
	/* Header */
	--headerB: #E8EAF6;
	/* Notif */
	--notifU: #E8EAF6;
	--notifC: #283593;
	/* Search */
	--srchB: #E8EAF6;
	/* MobMn */
	--mobB: #E8EAF6;
	/* Wave */
	--waveB: #E8EAF6;
}
/* Ensure the CSS variable is defined */
:root {
	--linkC: #cac8cc;
}
/* Style for .PopularPosts */
.PopularPosts {
	border: 2px solid #cac8cc;
}
/* Style for elements inside .onIndx and .blogPts */
.onIndx .blogPts > * {
	border: 2px solid #cac8cc;
}
/* Style for .pThmb */
.pThmb {
	border: 1px solid #cac8cc;
}
/* Style for .mobln with !important to ensure it's applied */
.mobln {
	border-top: 2px solid #cac8cc !important;
	border-radius: 0 !important;
}
/* Style for .itemFt */
.itemFt {
	border: 2px solid #cac8cc;
}

.gridMode label {
	display: flex;
	align-items: center;
	cursor: pointer;
	font-size: var(--widgetT);
	font-weight: var(--widgetTw);
	position: relative;
}

.gridMode svg {
	width: 22px;
	height: 22px;
	margin: 0 8px;
}

.gridMode input {
	display: none;
}

.svgG {
	fill: var(--themeC);
	stroke: var(--themeC);
}

.drK .svgG {
	fill: var(--darkU);
	stroke: var(--darkU);
}

@media (min-width: 501px) {
	.gridMode {
		display: none;
	}

undefined {
		font-family: 'Google Sans Text';
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: local('Google Sans Text'), local('Google-Sans-Text'), url("https://fonts.gstatic.com/s/googlesanstext/v16/5aUu9-KzpRiLCAt4Unrc-xIKmCU5qEp2iw.woff2") format('woff2');
	}

	/* Font Heading */
	@font-face {
		font-family: 'Google Sans Text';
		font-style: normal;
		font-weight: 700;
		font-display: swap;
		src: local('Google Sans Text'), local('Google-Sans-Text'), url("https://fonts.gstatic.com/s/googlesanstext/v16/5aUp9-KzpRiLCAt4Unrc-xIKmCU5oPFTnmhjtg.woff2") format('woff2');
	}

	/* Source Code Font */
	@font-face {
		font-family: 'Google Sans Mono';
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: local('Google Sans Mono'), local('Google-Sans-Mono'), url("https://fonts.gstatic.com/s/googlesansmono/v4/P5sUzYWFYtnZ_Cg-t0Uq_rfivrdYH4RE8-pZ5gQ1abT53wVQGrk.woff2") format('woff2');
	}

	/*]]>*/
	/*<![CDATA[*/
	/* Category layout by Engineer Abusufian*/
	.engineerabusufian {
		padding: 5px;
		text-align: center;
		position: relative;
	}

	.engineerabusufian h2 {
		font-size: 1.6em;
		line-height: 1.6em;
		margin-bottom: 0;
		padding-bottom: 0;
	}

	.engineerabusufian ul {
		clear: both;
		margin: 15px 0 20px;
		width: 100%;
		display: flex;
		padding: 0;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.engineerabusufian.icon-p-2 li {
		position: relative;
		width: 30%;
		list-style: none;
		line-height: 1.3em;
		text-align: center;
		border-radius: 10px;
		margin: 6px 0;
		background: var(--contentB);
		box-shadow: 0 5px 35px rgb(0 0 0 / 7%);
		padding: 6px 0 12px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.engineerabusufian li a {
		display: block;
		text-decoration: none;
		color: var(--fontC);
	}

	.engineerabusufian li svg {
		margin: 3px 0;
		width: 35px;
		height: 35px;
		display: inline-block;
	}

	.engineerabusufian li span {
		display: block;
		padding: 0 3px;
	}

	.drK .engineerabusufian li {
		background: var(--darkBa);
	}

	[class~="drp"],
	[class~="mnMn"] a,
	footer a,
	[class~="navS"] a {
		font-weight: bold;
	}

	.secIn {
		border-left-width: medium !important;
	}

	.secIn {
		border-bottom-width: medium !important;
	}

	.secIn {
		border-right-width: medium !important;
	}

	.secIn {
		border-top-width: medium !important;
	}

	.secIn {
		border-left-style: none !important;
	}

	.secIn {
		border-bottom-style: none !important;
	}

	.secIn {
		border-right-style: none !important;
	}

	.secIn {
		border-top-style: none !important;
	}

	.header .line {
		box-shadow: #ccdbe8 3px 2.25pt .0625in 0pc inset, rgba(255, 255, 255, .5) -.1875pc -2.25pt .0625in .0625pc inset;
	}

	.secIn {
		border-left-color: currentColor !important;
	}

	.secIn {
		border-bottom-color: currentColor !important;
	}

	.secIn {
		border-right-color: currentColor !important;
	}

	.secIn {
		border-top-color: currentColor !important;
	}

	.secIn {
		border-image: none !important;
	}

	.header .line {
		padding-left: 3.75pt;
	}

	.header .line {
		padding-bottom: 3.75pt;
	}

	[class~="navS"] {
		margin-left: -.625pc;
	}

	[class~="navS"] {
		margin-bottom: -10px;
	}

	.header .line {
		padding-right: 3.75pt;
	}

	.header .line {
		padding-top: 3.75pt;
	}

	[class~="navS"] {
		margin-right: -.625pc;
	}

	[class~="navS"] {
		margin-top: -10px;
	}

	.header .line {
		width: 29px;
	}

	.header .line {
		height: 21.75pt;
	}

	.drK .header .line {
		box-shadow: none;
	}

	.header .line {
		border-radius: .09375in;
	}

	*::-webkit-scrollbar {
		background-color: transparent;
	}

	#mobile-menu {
		transition: .4s;
	}

	/* Code Box by SSRTECHBLOG*/
	.pre {
		background: #f6f6f6;
		color: #2f3337;
		direction: ltr;
		position: relative;
		border-radius: 3px;
		overflow: hidden;
		margin: 1.7em auto;
	}

	.pre pre {
		margin: 0;
		color: inherit;
		background: inherit;
		display: block;
		position: relative;
		font-size: 13px;
		line-height: 1.6em;
		border-radius: 3px;
		padding: 30px 20px 20px;
		-moz-tab-size: 2;
		tab-size: 2;
		-webkit-hyphens: none;
		-moz-hyphens: none;
		-ms-hyphens: none;
		hyphens: none;
		overflow: auto;
		direction: ltr;
		white-space: pre;
	}

	.pre.adv {
		border-radius: 10px;
	}

	.pre.adv::before {
		display: none;
	}

	.pre:not(.str) .prCd {
		display: none;
	}

	.pre.str .prTl {
		display: none;
	}

	.pre.adv pre {
		padding-top: 60px;
	}

	.preM {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		width: 100%;
		background: rgba(0, 0, 0, .04);
		padding: 10px 10px 10px 20px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: nowrap;
		z-index: 2;
	}

	.preT {
		font-size: 12px;
		font-family: var(--fontC);
		line-height: 1rem;
		position: relative;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		padding-right: 10px;
	}

	.preA {
		display: flex;
		gap: 8px;
		white-space: nowrap;
	}

	.preA button {
		outline: none;
		border: none;
		width: 30px;
		height: 30px;
		background: #d9d9d9;
		padding: 0;
		margin: 0;
		border-radius: 50%;
		transition: border-radius .2s ease;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
	}

	.preA button:hover {
		border-radius: 40%;
	}

	.preA button > svg {
		width: 18px;
		height: 18px;
		stroke: none;
		fill: #2e2e2e;
		transition: all .5s ease;
	}

	.pre.cpd .prCp svg,
	.pre.pnd .prDl svg,
	.pre.dwn .prDl svg {
		animation: jiggle 1s;
	}

	.pre.cpd .prCp svg .a,
	.pre:not(.cpd) .prCp svg .b {
		opacity: 0;
	}

	.pre.dwn .prDl svg .a,
	.pre.pnd .prDl svg .a,
	.pre:not(.pnd) .prDl svg .b,
	.pre:not(.dwn) .prDl svg .c {
		opacity: 0;
	}

	@keyframes jiggle {
		0% {
			transform: rotate(0);
		}

		20% {
			transform: rotate(26deg);
		}

		40% {
			transform: rotate(-26deg);
		}

		60% {
			transform: rotate(26deg);
		}

		80% {
			transform: rotate(-26deg);
		}

		100% {
			transform: rotate(0);
		}
	}

	@-webkit-keyframes jiggle {
		0% {
			transform: rotate(0);
		}

		20% {
			transform: rotate(26deg);
		}

		40% {
			transform: rotate(-26deg);
		}

		60% {
			transform: rotate(26deg);
		}

		80% {
			transform: rotate(-26deg);
		}

		100% {
			transform: rotate(0);
		}
	}

	.SSRTECH {
		background-image: -webkit-linear-gradient(25deg, #f00, #ff2b00, #f50, #ff8000, #fa0, #ffd500, #ff0, #d4ff00, #af0, #80ff00, #5f0, #2bff00, #0f0, #00ff2a, #0f5, #00ff80, #0fa, #00ffd5, #0ff, #00d5ff, #0af, #0080ff, #05f, #002aff, #00f, #2b00ff, #50f, #8000ff, #a0f, #d400ff, #f0f, #ff00d4, #f0a, #ff0080, #f05, #ff002b, #f00);
		-webkit-animation: animatedBackground_a 12s linear infinite alternate;
		-webkit-background-clip: text;
		-webkit-text-fill-color: #0000;
		background-clip: text;
	}

	@keyframes animatedBackground_a {
		0% {
			background-position: 0 0;
		}

		100% {
			background-position: -500px 0;
		}
	}

	.separator img {
		border: 2px solid #fff;
		width: 100%;
		pointer-events: none;
		border-radius: 10px;
		box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	}

undefined {
		color: #fff;
		background: var(--linkB);
	}

	.drK ::selection {
		background: var(--darkU);
	}

	*,
	::after,
	::before {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	* {
		-webkit-tap-highlight-color: transparent;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 0;
		font-weight: 700;
		font-family: var(--fontH);
		color: var(--headC);
	}

	h1 {
		font-size: 1.9rem;
	}

	h2 {
		font-size: 1.7rem;
	}

	h3 {
		font-size: 1.5rem;
	}

	h4 {
		font-size: 1.4rem;
	}

	h5 {
		font-size: 1.3rem;
	}

	h6 {
		font-size: 1.2rem;
	}

	a {
		color: var(--linkC);
		text-decoration: none;
	}

	a:hover {
		opacity: .9;
		transition: opacity .1s;
	}

	table {
		border-spacing: 0;
	}

	iframe {
		max-width: 100%;
		border: 0;
		margin-left: auto;
		margin-right: auto;
	}

	input,
	button,
	select,
	textarea {
		font: inherit;
		font-size: 100%;
		color: inherit;
		line-height: normal;
	}

	input::placeholder {
		color: rgba(0, 0, 0, .5);
	}

	img {
		display: block;
		position: relative;
		max-width: 100%;
		height: auto;
	}

	svg {
		width: 22px;
		height: 22px;
		fill: var(--iconC);
		filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
	}

	svg.line,
	svg .line {
		fill: none !important;
		stroke: var(--iconC);
		stroke-linecap: round;
		stroke-linejoin: round;
		stroke-width: 2;
	}

	svg.c-1 {
		fill: var(--iconCa);
	}

	svg.c-2 {
		fill: var(--iconCs);
		opacity: .4;
	}

	[hidden]:not([hidden="false"]),
	.hidden {
		display: none !important;
	}

	.invisible {
		visibility: hidden !important;
	}

	.clear {
		width: 100%;
		display: block;
		margin: 0;
		padding: 0;
		float: none;
		clear: both;
	}

	.fCls {
		display: block;
		position: fixed;
		top: -50%;
		left: -50%;
		right: -50%;
		bottom: -50%;
		z-index: 1;
		transition: var(--trans-1);
		background: transparent;
		opacity: 0;
		visibility: hidden;
	}

	.free::after,
	.new::after {
		display: inline-block;
		content: 'Free!';
		color: var(--linkC);
		font-size: 10px;
		font-weight: 400;
		margin: 0 5px;
	}

	.new::after {
		content: 'New!';
	}

	svg .svgC {
		fill: var(--linkC);
	}

	svg.line .svgC {
		fill: none;
		stroke: var(--linkC);
	}

	.drK svg .svgC {
		fill: var(--darkU);
	}

	.drK svg.line .svgC {
		fill: none;
		stroke: var(--darkU);
	}

	html:not([data-admin="true"]) .blog-admin,
	.bD .bmPs,
	.pInf .pIc .bmPs,
	.bmPs > svg .d,
	.isBkm,
	.cBkPs,
	.ckW,
	.tocL,
	.headR .headM .themeBtn,
	.cusW {
		display: none;
	}

	html:not([data-admin="true"]) .for-admin,
	html[data-admin="true"] .for-user {
		display: none;
	}

	.lazy.loaded,
	.tocL,
	.pVws:not(.hidden) {
		animation: opaCity .5s 0s;
		-webkit-animation: opaCity .5s 0s;
	}

	ol.style2 {
		counter-reset: numbers;
		list-style: none;
		padding: 0;
	}

	ol.style2 > li {
		counter-increment: numbers;
		margin-bottom: 25px;
		position: relative;
		margin-left: 55px;
	}

	ol.style2 > li img {
		margin: 15px 0;
		width: 100%;
		display: block;
	}

	ol.style2 > li::before {
		content: counter(numbers);
		line-height: 23px;
		font-family: 'var(--fontB)';
		font-size: 14px;
		font-weight: 700;
		left: -45px;
		width: 32px;
		height: 32px;
		text-align: center;
		position: absolute;
		color: #9c27b0;
		border: 5px solid rgb(254 202 87);
		border-radius: 50% 0 50% 50%;
		top: -2px;
	}

	ol.style2 li ul li {
		margin-bottom: 15px;
	}

	ol.style2 li ul {
		margin-top: 15px;
	}

	.drK ol.style2 > li::before {
		color: #fff200;
		border-color: rgba(24, 220, 255, 1);
	}

	ol.style1 {
		counter-reset: numbers;
		list-style: none;
		padding: 0;
	}

	ol.style1 > li {
		counter-increment: numbers;
		margin-bottom: 25px;
		position: relative;
		margin-left: 55px;
	}

	ol.style1 > li img {
		margin: 15px 0;
		width: 100%;
		display: block;
	}

	ol.style1 > li #box-download img {
		margin: 0;
	}

	ol.style1 > li::before {
		content: counter(numbers);
		line-height: 23px;
		font-family: 'Noto Sans', sans-serif;
		font-size: 14px;
		font-weight: 700;
		left: -45px;
		width: 32px;
		height: 32px;
		text-align: center;
		position: absolute;
		color: #eb3b5a;
		border: 5px solid rgba(42, 203, 186, 1);
		border-radius: 50px;
		top: -2px;
	}

	ol.standard li,
	ol.style0 li,
	ol.style1 li ul li,
	ol.style2 li {
		margin-bottom: 15px;
	}

	ol.style1 li ul {
		margin-top: 15px;
	}

	.drK ol.style1 > li::before {
		color: #7efff5;
		border-color: rgba(50, 255, 126, 1);
	}

	/* Disable Copy by ssrtechblog */
	body {
		user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-khtml-user-select: none;
		-webkit-user-select: none;
		-webkit-touch-callout: none;
	}

	/* Enable copy on pre and code tags */
	pre,
	code {
		user-select: text;
		-moz-user-select: text;
		-ms-user-select: text;
		-khtml-user-select: text;
		-webkit-user-select: text;
		-webkit-touch-callout: text;
	}

	.btn-hover {
		width: 200px;
		font-size: 16px;
		font-weight: 600;
		color: #fff;
		cursor: pointer;
		margin: 20px;
		height: 55px;
		text-align: center;
		border: none;
		background-size: 300% 100%;
		border-radius: 50px;
		moz-transition: all .4s ease-in-out;
		-o-transition: all .4s ease-in-out;
		-webkit-transition: all .4s ease-in-out;
		transition: all .4s ease-in-out;
	}

	.btn-hover:hover {
		background-position: 100% 0;
		moz-transition: all .4s ease-in-out;
		-o-transition: all .4s ease-in-out;
		-webkit-transition: all .4s ease-in-out;
		transition: all .4s ease-in-out;
	}

	.btn-hover:focus {
		outline: none;
	}

	.btn-hover.color-1 {
		background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
		box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
	}

	.btn-hover.color-2 {
		background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
		box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
	}

	.btn-hover.color-3 {
		background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
		box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
	}

	.btn-hover.color-4 {
		background-image: linear-gradient(to right, #fc6076, #ff9a44, #ef9d43, #e75516);
		box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
	}

	.btn-hover.color-5 {
		background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
		box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
	}

	.btn-hover.color-6 {
		
